<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row" style="padding-right: 15px;padding-left: 15px;">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">    
            <div id="map" style="min-height: 150px;max-width: 100%"></div>
        </div>
        
        <div class="col-12 col-sm-12 col-md-6  col-lg-6 col-xs-6">
            <br>
            <!-- <app-datatable></app-datatable> -->
            <div id="dataTable"></div>
            <br>
            <!-- <mat-grid-list cols="4" rowHeight="100px">
                <mat-grid-tile
                    *ngFor="let tile of tiles"
                    [colspan]="tile.cols"
                    [rowspan]="tile.rows"
                    [style.background]="tile.color">
                  
                    <mat-grid-tile-header>{{tile.text}}</mat-grid-tile-header>
                    <br>
                    {{tile.value}} {{tile.unit}}
                </mat-grid-tile>s
            </mat-grid-list> -->
        </div>
    </div>
</div>